# Code owners
*        @Mammad900
/extras/slider-properties amirhosyn2006@gmail.com
/extras/slider-properties/right%20color.jpg @mammad900
/extras/slider-properties/thumb%20color.jpg @mammad900
/extras/slider-properties/enabled.jpg @mammad900
/extras/slider-properties/visible.jpg @mammad900
